:root {
    --primary-brand-color: #4D5AE5;
    --pressed-state-color: #404BBF;
    --primary-dark-color: #2E2F42;
    --primary-light-color: #F4F4FD;
    --primary-white-color: #ffffff;
    --success-color: #31D0AA;
    --text-color: #434455;
    --subtle-text-color: #8E8F99;
    --accent-color: #E7E9FC;
    --modal-background-color: #FCFCFC;
    --primary-font: 'Roboto', sans-serif;
    --logo-font: 'Raleway', sans-serif;
    --primary-letter-spacing: 2%;
    --secondary-letter-spacing: 4%;
}

body {
    font-family: var(--primary-font);
    color: var(--text-color);
    letter-spacing: var(--primary-letter-spacing);
    line-height: 24px;
}

h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    color: var(--primary-dark-color);
}

h3 {
    font-size: 20px;
    font-weight: 500;
    color: var(--primary-dark-color);
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
    color: var(--primary-dark-color);
}

.link:active,
.link:hover,
.link:focus,
.projects-link h3:hover,
.projects-link h3:active,
.projects-link h3:focus {
    color: var(--pressed-state-color);
}

button {
    cursor: pointer;
}

.hero-image button {
    background-color: var(--primary-brand-color);
    color: var(--primary-white-color);
}

.filter-button button {
    background-color: var(--primary-light-color);
    color: var(--primary-brand-color);
    font-size: 16px;
    font-weight: 500;
}

button:hover,
button:active,
button:focus {
    background-color: var(--pressed-state-color);
    color: var(--primary-white-color);
}

a.logo {
    font-family: var(--logo-font);
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 3%;
    text-transform: uppercase;
    color: var(--primary-dark-color);
    text-decoration: none;
}

footer .logo {
    color: var(--primary-light-color)
}

a.logo span {
    color: var(--primary-brand-color);
}

ul.menu {
    font-size: 24px;
    font-weight: 500;
}

ul.menu a:hover,
ul.menu a:active,
ul.menu a:focus {
    text-decoration: underline;
}

.hero-image {
    background-color: var(--primary-dark-color);
    color: var(--primary-white-color);
    text-align: center;
    height: 600px;
}

address .list a {
    color: var(--primary-font);
}

footer {
    background-color: var(--primary-dark-color);
}

footer p {
    color: var(--primary-light-color);
    font-weight: 400;
}